:local(.addFriendContainer) {
  margin: 10px;
}

:local(.addFriendButtonHolder) {
  margin-bottom: 10px;
}

:local(.tickbox) {
  margin: 10px; 
  display: inline;
}

:local(.color) {
  color: lightgreen;
}
