:local(.friendListItem) {
  list-style: none;
  padding: 20px 10px 20px 20px;
  background-color: white;
  border-bottom: 1px solid #E3E3E3;
}

:local(.friendsContainer) {
  display: flex;
}

:local(.friendInfos) {
  flex: 1 0 auto;
}

:local(.friendInfos span) {
  font-weight: bold;
}

:local(.friendActions) {
  flex: 0 0 90px;
}

:local(.btnAction), :local(.btnAction):active, :local(.btnAction):focus, :local(.btnAction):hover {
  margin-right: 5px;
  color: #5C75B0;
}

button:focus {
  outline: 0 !important;
}

:local(.gender) {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}

:local(.inputGroup) {
  display: flex;
}

:local(.label) {
  margin-right: 20px;
}

:local(.input) {
  margin-left: 8px !important;
  margin-right: 8px !important;
}

